.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout-background {
  background: #fff !important;
}

.main-header {
  z-index: 100;
  background: #fff !important;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.site-layout{
    background: white;
}
